# Database
POSTGRES_USER="postgres"
POSTGRES_DB="ekonstat-db"

# API
PORT="8080"

# Webhooks
REALISED_CONTRACTS_WEBHOOK_1=
AWARDED_CONTRACTS_WEBHOOK_1=
CHANGES_IN_AWARDED_CONTRACTS_WEBHOOK_1=

# Dashboard
API_UPSTREAM="http://app:8080"

# Cloudflare
TUNNEL_TOKEN="your_cloudflare_tunnel_token_here"

# Watchtower
WATCHTOWER_NOTIFICATION_URL="discord://token@channelid"